.container {
  display: flex;
  position: relative;
  border: 2px solid gray;
  border-radius: 1rem;
  margin: 2rem;
  width: 65vh;
  height: 70vh;
  padding: 4rem;
  flex-direction: column;
  align-items: center;
}

.card-list {
  /* display: flex;
  flex-wrap: wrap;
  width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pagination {
  position: fixed;
  top: 75%;
  margin: 1rem;
  display: flex;
}

.page-btn {
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 5px;
  cursor: pointer;
}

.page-btn:hover {
  border-color: black;
}

.nav-btn {
  display: flex;
  align-items: center;
  margin: 5px;
}

.nav-btn.disabled {
  color: gray;
}